<!-- Implemented by Fábio Silva - 29/11/2012 -->
<div class="container">
	<div class="row-fluid">
		<div class="span12">

			<div class="span3 pull-left">
				<legend>
					Sessão
				</legend>
				<div class="well">
					<ul class="nav nav-list" style="float:none">
						<li>
							<a href="#"><i class="icon-chevron-right"></i> TMT</a>
						</li>
						<li>
							<a href="#"><i class="icon-chevron-right"></i> FTT</a>
						</li>
						<li class="active">
							<a href="#"><i class="icon-chevron-right"></i> Relógio</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="span9">
				<legend>
					Trails Making Test
				</legend>
				<div class="row-fluid">
					<div class="span6">
						<table class="table table-hover table-bordered table-striped">
							<thead>
								<tr>
									<th>Trails A</th>
									<th>Trails B</th>
								</tr>
							</thead>
							<tbody
							<tr>
								<td></td>
								<td></td>
							</tr>
							</tbody>
						</table>
					</div>
					<div class="span4 offset1">
						<center>
							<h1>0</h1>
							<p>
								<button type="button" class="btn btn-success">
									Iniciar
								</button>
								<button type="button" class="btn btn-danger">
									Parar
								</button>
								<button type="button" class="btn btn-info">
									Reiniciar
								</button>
							</p>
						</center>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="span3"></div>
</div>
