<%# encoding: utf-8 %>
<div class="container">
  <div class="row-fluid">
    <div class="span8 offset2">

      <h2>Editar Clínica</h2>
      <div class="span12">
        <p>
          <%= render 'form' %>
        </p>
      </div>
    </div>
  </div>
  <div class="span3"></div>
</div>