<div class="container">
	<div class="row-fluid">
		<div class="span8 offset2">
			<legend>
				<h2 class="h2-title">Registar Clínica</h2>
			</legend>
				<%= render 'form' %>
				<%= render 'js' %>


		</div>
	</div>
</div>