<!-- Implemented by Fábio Silva - 29/11/2012 -->
<div class="container">
	<div class="row-fluid">
		<div class="span12">
			<div class="span3 pull-left">
				<legend>
					Sessão
				</legend>
				<div class="well">
					<ul class="nav nav-list" style="float:none">
						<% appoint_id = session["current_appointment"].to_f %> 
						<% appoint_plan = AppointmentPlan.where(:appointment_id => appoint_id) %>
						<% appoint_plan.each do |a|%>
							<%if a.evaluation_test.name == "wais"%>
								<li class="active">
									<a href="#"><i class="icon-chevron-right"></i> <%= a.evaluation_test.name %></a>
								</li>
							<%else%>
								<li>
									<a href="#"><i class="icon-chevron-right"></i> <%= a.evaluation_test.name %></a>
								</li>
							<%end%>

						<%end%>
					</ul>
				</div>
			</div>
			<div class="span9">
				<legend>
					<% if session["wais_phase"] == 1%>
					WAIS III - Pesquisa de Simbolos
					<% else %>
					WAIS III - Código
					<% end %>
					<div class="pull-right">
						<a id="downloadClock" href="/downloadClock" role="button" class="btn btn-small btn-info" data-toggle="modal" rel="tooltip" data-placement="bottom" data-original-title="Descarregar Template"><i class="icon-white icon-print"></i></a>
						<a id="descriptionTeste" href="#myModal" role="button" class="btn btn-small btn-info" data-toggle="modal" rel="tooltip" data-placement="bottom" data-original-title="Descrição Teste"><i class="icon-white icon-info-sign"></i></a>

						<!-- Modal -->
						<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
									×
								</button>
								<h4 id="myModalLabel">Wechsler Adult Inteligence Scale-III</h4>
							</div>
							<div class="modal-body" style="font-size: 12px; line-height: 20px;">
								<p align="justify">
									Desta bateria incluimos apenas as provas, a Código e a Pesquisa de Símbolos, que em conjunto medem a velocidade de processamento.
									
								</p>
							</div>

						</div>
					</div>
				</legend>

				<%= render 'form' %>
			</div>
		</div>
	</div>
</div>
<script>
	$('#downloadClock').tooltip();
	$('#descriptionTeste').tooltip(); 
</script>