<%# encoding: utf-8 %>

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
<div>
  <h2>NeuroPump</h2>
  <p>
    Bem-vindo ao NeuroPump,<br/><br/>
    Pode aceder a nossa plataforma <a href="http://www.neuropump.com/logins/sign_in">aqui</a> com a seguinte password:<br/><br/>
    <%= @password %> <br/><br/>
    Atentamente,<br/>
    NeuroPump
  </p>
</div>
</body>
</html>