<%# encoding: utf-8 %>

<!--%= render :partial => 'navbar' %-->

<!-- NAVBAR
================================================== -->
<!-- Wrap the .navbar in .container to center it on the page and provide easy way to target it with .navbar-wrapper. -->
<div class="container navbar-wrapper">

  <div class="navbar navbar-inverse">
    <div class="navbar-inner">
      <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">Neuro Pump</a>
      <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="active"><a href="#">Dashboard</a></li>
          <li><a href="#clinica">Clínica</a></li>
          <li><a href="#secretarios">Secretários</a></li>
          <li><a href="#neuropsicologos">Neuropsicólogos</a></li>
        </ul>

        <ul class="nav pull-right">
          <!-- Read about Bootstrap dropdowns at http://twitter.github.com/bootstrap/javascript.html#dropdowns -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Luís Araújo <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Minha conta</a></li>
              <li><a href="#">Definições pessoais</a></li>
              <li class="divider"></li>
              <li><a href="#">Logout</a></li>
            </ul>
          </li>
        </ul>

        <form class="navbar-search pull-right">
          <input type="text" class="search-query" placeholder="Search">
        </form>

      </div><!--/.nav-collapse -->
    </div><!-- /.navbar-inner -->
  </div><!-- /.navbar -->

</div><!-- /.container -->



<div class="span12 offset1">
  <div class="slate clearfix">
    <a class="stat-column" href="#">
      <span style="font-size: 20px;color: #777;padding-top: 10px;text-align: left;line-height: 27px;">Clínica Neurocog Braga</span>
    </a>
    <a class="stat-column" href="#">
      <span class="number">16</span>
      <span>Pacientes</span>
    </a>
    <a class="stat-column" href="#">
      <span class="number">4</span>
      <span>Secretários</span>
    </a>
    <a class="stat-column" href="#">
      <span class="number">9</span>
      <span>Neuropsicólogos</span>
    </a>
    <a class="stat-column" href="#">
      <span class="number">142</span>
      <span>Consultas agendadas</span>
    </a>
  </div>
</div>

<div class="container navbar-wrapper">
  <div class="span6" id="chart_div2" style="height: 500px;">

  </div>

  <div class="span6 pull-right" id="chart_div" style="height: 500px;">

  </div>
</div>

<div class="container navbar-wrapper">
  <div class="span6">
    <h4>Lista de Secretários</h4>
    <div class="accordion" id="accordion">
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
            João Silva
          </a>
        </div>
        <div id="collapseOne" class="accordion-body collapse">
          <div class="accordion-inner">
            Nº de Telemóvel: 912093711<br />
            Data de Nascimento: 19/12/1972<br />
            Nº de consultas marcadas: 37
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
            Gabriela Fernandes
          </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse">
          <div class="accordion-inner">
            Nº de Telemóvel: 912093711<br />
            Data de Nascimento: 19/2/1972<br />
            Nº de consultas marcadas: 29
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
            Inês Magalhães
          </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse">
          <div class="accordion-inner">
            Nº de Telemóvel: 912093711<br />
            Data de Nascimento: 19/2/1972<br />
            Nº de consultas marcadas: 29
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
            Joaquim do Curral
          </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse">
          <div class="accordion-inner">
            Nº de Telemóvel: 912093711<br />
            Data de Nascimento: 19/2/1972<br />
            Nº de consultas marcadas: 29
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
            Alberto da Costa
          </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse">
          <div class="accordion-inner">
            Nº de Telemóvel: 912093711<br />
            Data de Nascimento: 19/2/1972<br />
            Nº de consultas marcadas: 29
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
            Francisco Pereira
          </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse">
          <div class="accordion-inner">
            Nº de Telemóvel: 912093711<br />
            Data de Nascimento: 19/2/1972<br />
            Nº de consultas marcadas: 29
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
            Joaquim Gonçalves
          </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse">
          <div class="accordion-inner">
            Nº de Telemóvel: 912093711<br />
            Data de Nascimento: 19/2/1972<br />
            Nº de consultas marcadas: 29
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="span6 pull-right">
    <h4>Lista de Neuropsicólogos</h4>
    <div class="accordion" id="accordion2">
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
            João Fonseca
          </a>
        </div>
        <div id="collapseOne" class="accordion-body collapse">
          <div class="accordion-inner">
            Data de Nascimento: 19/12/1972<br />
            Próxima Consulta: 19/3/2012 18:30:00<br />
            Total de Consultas Agendadas: 37
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
            Albertina Dias
          </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse">
          <div class="accordion-inner">
            Data de Nascimento: 19/12/1942<br />
            Próxima Consulta: 19/4/2012 18:30:00<br />
            Total de Consultas Agendadas: 87
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
            Dias Fonseca
          </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse">
          <div class="accordion-inner">
            Data de Nascimento: 19/12/1942<br />
            Próxima Consulta: 19/4/2012 18:30:00<br />
            Total de Consultas Agendadas: 87
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
            Joaquim Reis
          </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse">
          <div class="accordion-inner">
            Data de Nascimento: 19/12/1942<br />
            Próxima Consulta: 19/4/2012 18:30:00<br />
            Total de Consultas Agendadas: 87
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
            António Alberto
          </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse">
          <div class="accordion-inner">
            Data de Nascimento: 19/12/1942<br />
            Próxima Consulta: 19/4/2012 18:30:00<br />
            Total de Consultas Agendadas: 87
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<h2 style="margin-left: 60px;">Historial de Pagamentos</h2>

<div class="container navbar-wrapper">
  <div class="span12" id="chart_div3" style="height: 300px; margin-bottom: 60px;">
  </div>
</div>


<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row" style="margin-left: 0px;">
    <div class="span4">
      <a href="#">
        <img class="img-circle" width="160px" src="http://www.ryancompanies.com/upload/SAFO%20Clinic%20008-Lg.jpg">
        <h2>Clínica</h2>
      </a>
    </div><!-- /.span4 -->
    <div class="span4">
      <a href="#">
        <img class="img-circle" width="160px" src="https://community.emc.com/servlet/JiveServlet/downloadImage/38-3053-26026/279-190/business-man-and-woman.jpg">
        <h2>Secretários</h2>
      </a>
    </div><!-- /.span4 -->
    <div class="span4">
      <a href="#">
        <img class="img-circle" width="160px" src="http://www.peakhealth.com.au/img/content/medicals.jpg">
        <h2>Neuropsicólogos</h2>
      </a>
    </div><!-- /.span4 -->
  </div><!-- /.row -->



  <!-- FOOTER -->
  <footer>
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>&copy; 2012 NeuroPump, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>

</div><!-- /.container -->
