<div class="container">
	<div class="row-fluid">
		<div class="span12">
			<div class="span3 pull-left">
				<legend>
					Sessão
				</legend>
				<div class="well">
					<ul class="nav nav-list" style="float:none">
						<li>
							<a href="#"><i class="icon-chevron-right"></i> TMT</a>
						</li>
						<li>
							<a href="#"><i class="icon-chevron-right"></i> FTT</a>
						</li>
						<li class="active">
							<a href="#"><i class="icon-chevron-right"></i> Relógio</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="span9">
				<legend>
					FTT - Finger Tapper Test
					<div class="pull-right">
						<a id="downloadClock" href="#" role="button" class="btn btn-info" data-toggle="modal" rel="tooltip" data-placement="bottom" data-original-title="Descarregar Template"><i class="icon-white icon-print"></i></a>
						<a id="descriptionTeste" href="#myModal" role="button" class="btn btn-info" data-toggle="modal" rel="tooltip" data-placement="bottom" data-original-title="Descrição Teste"><i class="icon-white icon-info-sign"></i></a>

						<!-- Modal -->
						<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
									×
								</button>
								<h4 id="myModalLabel">Wescheler Memory Scale III</h4>
							</div>
							<div class="modal-body" style="font-size: 12px; line-height: 20px;">
								<p align="justify">
									O teste Wescheler Memory Scale III Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
									Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
									Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
									Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
									Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
									Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
								</p>
							</div>

						</div>
					</div>
				</legend>

				<%= render 'form' %>
			</div>
		</div>
	</div>
</div>
<script>
	$('#downloadClock').tooltip();
	$('#descriptionTeste').tooltip(); 
</script>