<h1>Listing packages_clinics</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @packages_clinics.each do |packages_clinic| %>
  <tr>
    <td><%= link_to 'Show', packages_clinic %></td>
    <td><%= link_to 'Edit', edit_packages_clinic_path(packages_clinic) %></td>
    <td><%= link_to 'Destroy', packages_clinic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Packages clinic', new_packages_clinic_path %>
