<!-- Implemented by Fábio Silva - 29/11/2012 -->

<div class="container">
	<div class="row-fluid">
		<div class="span12">

			<div class="span3 pull-left">
				<legend>
					Sessão
				</legend>
				<div class="well">
					<ul class="nav nav-list" style="float:none">
						<li>
							<a href="#"><i class="icon-chevron-right"></i> TMT</a>
						</li>
						<li>
							<a href="#"><i class="icon-chevron-right"></i> FTT</a>
						</li>
						<li class="active">
							<a href="#"><i class="icon-chevron-right"></i> Relógio</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="span9">
				<legend>
					WAIS III - Pesquisa de Simbolos / Código
				</legend>
				<div class="row-fluid">
					<div class="span6" style="padding-left: 20px;">
						<div>
							<label>Tempo Despendido</label>
							<input type="text" />
						</div>
						<div>
							<label>Itens Certos</label>
							<input type="text" />
						</div>
						<div>
							<label>Itens Errados</label>
							<input type="text" />
						</div>
					</div>
					<div class="span4 offset1" style="padding-right: 50px;">
						<center>
							<h1>120</h1>
							<p>
								<button type="button" class="btn btn-success">
									Iniciar
								</button>
								<button type="button" class="btn btn-danger">
									Parar
								</button>
								<button type="button" class="btn btn-info">
									Reiniciar
								</button>
							</p>
						</center>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="span3"></div>
</div>
