<div class="container">
	<div class="row-fluid">
		<div class="span8 offset2">
			<div class="row-fluid">
				<div class="span12">
					<legend>
					<h2 class="h2-title">Editar Paciente</h2>
				</legend>
				</div>

			</div>
				
			<%= render 'form' %>

		</div>
	</div>
</div>