<!-- Implemented by Fábio Silva - 29/11/2012 -->
<div class="container">
	<div class="row-fluid">
		<div class="span12">

			<div class="span3 pull-left">
				<legend>
					Sessão
				</legend>
				<div class="well">
				<ul class="nav nav-list" style="float:none">
					<li>
						<a href="#"><i class="icon-chevron-right"></i> TMT</a>
					</li>
					<li>
						<a href="#"><i class="icon-chevron-right"></i> FTT</a>
					</li>
					<li class="active">
						<a href="#"><i class="icon-chevron-right"></i> Relógio</a>
					</li>
				</ul>
				</div>
			</div>
			<div class="span9">
				<legend>
					Teste do Relógio
				</legend>

				<table id="" class="table table-hover table-bordered table-striped">
					<thead>
						<tr>
							<th colspan="2">Critérios de Pontuação do Teste do relógio (J. Cacho et al.)</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1. Mostrador do Relógio (máximo 2 pontos)</td>
							<td>
							<center>
								<div class="btn-group" data-toggle="buttons-radio">

									<button type="button" class="btn btn-info">
										0
									</button>
									<button type="button" class="btn btn-info">
										1
									</button>
									<button type="button" class="btn btn-info">
										2
									</button>

								</div>
							</center></td>
						</tr>
						<tr>
							<td>2. Presença ou sequência dos números (máximo 4 pontos)</td>
							<td>
							<center>
								<div class="btn-group" data-toggle="buttons-radio">
									<button type="button" class="btn btn-info">
										0
									</button>
									<button type="button" class="btn btn-info">
										1
									</button>
									<button type="button" class="btn btn-info">
										2
									</button>
									<button type="button" class="btn btn-info">
										3
									</button>
									<button type="button" class="btn btn-info">
										3,5
									</button>
									<button type="button" class="btn btn-info">
										4
									</button>
								</div>
							</center></td>
						</tr>
						<tr>
							<td>3. Presença e localização dos ponteiros (máximo 4 pontos)</td>
							<td>
							<center>
								<div class="btn-group" data-toggle="buttons-radio">
									<button type="button" class="btn btn-info">
										0
									</button>
									<button type="button" class="btn btn-info">
										1
									</button>
									<button type="button" class="btn btn-info">
										2
									</button>
									<button type="button" class="btn btn-info">
										3
									</button>
									<button type="button" class="btn btn-info">
										3,5
									</button>
									<button type="button" class="btn btn-info">
										4
									</button>
								</div>
							</center></td>
						</tr>
						<tr>
							<td><label class="pull-right">Total:</label></lable></td><td>
							<center>
								0
							</center></td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
	</div>
	<div class="span3"></div>
</div>
