

        <h2>Lista de Pagamentos</h2>

        <%if current_login.has_role? :administrator %>
            <%= render 'indexAdministrator' %>
        <%elsif current_login.has_role? :manager %>
            <%= render 'indexManager' %>
        <%end%>
