<div class="container">
	<div class="row-fluid">
		<div class="span10 offset1">

			<h2>Editar Secretário</h2>

			<%= render 'form' %>

			<!-- <%= link_to 'Show', @secretary %> |
			<%= link_to 'Back', secretaries_path %> -->
		</div>
	</div>
</div>

<!--button-succes-->
<!--button-danger-->
<!--button-warning-->

