<div class="container">
	<div class="row-fluid">
		<div class="span8 offset2">

			<div class="row-fluid">
				<div class="span12">
					<h2 class="h2-title">Editar Secretário</h2>
				</div>
			</div>

			<%= render 'form' %>

			<!-- <%= link_to 'Show', @secretary %> |
			<%= link_to 'Back', secretaries_path %> -->
		</div>
	</div>
</div>

<!--button-succes-->
<!--button-danger-->
<!--button-warning-->

