<div class="container">
	<div class="row-fluid">
		<div class="span8 offset2" >

			<h1>Adicionar Secretário</h1>

			<%= render 'form' %>

			<!-- <%= link_to '<< Retroceder', secretaries_path %> -->

		</div>
	</div>
</div>
