<div class="container">
	<div class="row-fluid">
		<div class="span10 offset1">
			<div class="row-fluid">
				<legend>
					<h2 class="h2-title">Novo Plano de avaliação</h2>
				</legend>
			</div>
			<div style="clear:both"></div>
			<%= render 'form' %>

		</div>
	</div>
</div>
