<div class="container">
	<div class="row-fluid">
		<div class="span9 offset2">
			<div class="span12">
				<legend>
					Novo Plano de avaliação
				</legend>
			</div>
			<%= render 'form' %>

		</div>
	</div>
</div>
