<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @handedness.description %>
</p>


<%= link_to 'Edit', edit_handedness_path(@handedness) %> |
<%= link_to 'Back', handednesses_path %>
