<!-- Implemented by Fábio Silva - 29/11/2012 -->
<div class="container">
	<div class="row-fluid">
		<div class="span12">

			<div class="span3 pull-left">
				<legend>
					Sessão
				</legend>
				<div class="well">
					<ul class="nav nav-list" style="float:none">
						<li>
							<a href="#"><i class="icon-chevron-right"></i> TMT</a>
						</li>
						<li>
							<a href="#"><i class="icon-chevron-right"></i> FTT</a>
						</li>
						<li class="active">
							<a href="#"><i class="icon-chevron-right"></i> Relógio</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="span9">
				<legend>
					WMS III - Sequência Letra-Número
				</legend>

				<table id="" class="table table-hover table-bordered table-striped">
					<thead>
						<tr>
							<th>Item</th>
							<th>Ensaio</th>
							<th>Resposta</th>
							<th>Pontuação</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td rowspan="3">1. </td>
							<td>1</td>
							<td>L - 2</td>
							<td></td>
						</tr>
						<tr>
							<td>2</td>
							<td>6 -P</td>
							<td></td>
						</tr>
						<tr>
							<td>3</td>
							<td>B - 5</td>
							<td></td>
						</tr>
						<tr>
							<td rowspan="3">2. </td>
							<td>1</td>
							<td>F - 7 - L</td>
							<td></td>
						</tr>
						<tr>
							<td>2</td>
							<td>R – 4 – D</td>
							<td></td>
						</tr>
						<tr>
							<td>3</td>
							<td>H - 1 - 8</td>
							<td></td>
						</tr>
						<tr>
							<td rowspan="3">3. </td>
							<td>1</td>
							<td>T - 9 - A - 3</td>
							<td></td>
						</tr>
						<tr>
							<td>2</td>
							<td>V - 1 - J - 5</td>
							<td></td>
						</tr>
						<tr>
							<td>3</td>
							<td>7 - N - 4 - L</td>
							<td></td>
						</tr>
						<tr>
							<td rowspan="3">4. </td>
							<td>1</td>
							<td>8 - D - 6 - G - 1</td>
							<td></td>
						</tr>
						<tr>
							<td>2</td>
							<td>L - 2 - C - 7 - S</td>
							<td></td>
						</tr>
						<tr>
							<td>3</td>
							<td>5 - P - 3 - Z - 9</td>
							<td></td>
						</tr>
						<tr>
							<td rowspan="3">5. </td>
							<td>1</td>
							<td>M - 4 - E - 7 - Q - 2 </td>
							<td></td>
						</tr>
						<tr>
							<td>2</td>
							<td>X - 8 - H - 5 - F - 3</td>
							<td></td>
						</tr>
						<tr>
							<td>3</td>
							<td>6 - G - 9 - A - 2 - S</td>
							<td></td>
						</tr>
						<tr>
							<td rowspan="3">6. </td>
							<td>1</td>
							<td>R – 3 – B – 4 – Z – 1 – C</td>
							<td></td>
						</tr>
						<tr>
							<td>2</td>
							<td>5 – T – 9 – J – 2 – X – 7</td>
							<td></td>
						</tr>
						<tr>
							<td>3</td>
							<td>E – 1 – H – 8 – R – 4 – D</td>
							<td></td>
						</tr>
						<tr>
							<td rowspan="3">7. </td>
							<td>1</td>
							<td>5 – H – 9 – S – 2 – N – 6 – A</td>
							<td></td>
						</tr>
						<tr>
							<td>2</td>
							<td>D – 1 – R – 9 – B – 4 – L – 3</td>
							<td></td>
						</tr>
						<tr>
							<td>3</td>
							<td>7 – M – 2 – T – 6 – F – 1 – Z</td>
							<td></td>
						</tr>
						<tr>
							<td colspan="3"><label class="pull-right">Total:</label></td>
							<td>as</td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
	</div>
	<div class="span3"></div>
</div>
