<%# encoding: utf-8 %>
<div class="container">
  <div class="row-fluid">
    <% if session[:emailsSentNeuro] == true%>
        <div class="alert alert-success fade in" >
          <button type="button" class="close" data-dismiss="alert">×</button>
          <strong>Emails enviados com sucesso para os destinatários introduzidos.</strong>
        </div>
        <% session[:emailsSentNeuro] = false %>
    <% end %>

    <div class="span10 offset1">
      <legend><h2 class="h2-title">Adicionar Neuropsicólogo</h2></legend>
      <div class="row-fluid">
        <p align="justify">Para adicionar um Neuropsicólogo  é necessário que indique o seu email na caixa abaixo
          representada.
          De seguida o Neuropsicólogo  será notificado  e redirecionado  um formulário de preenchimento de dados
          pessoais.</p>

        <p>Se pretender enviar o formulário para mais do que um neuropsicólogo  separe os emails por <b>;</b></p>
        <%= form_tag("sendNeuropsychologistsInvite", :method => "post") do %>
            <div>
              <label>Email(s)</label>
              <%= text_field :email, nil, :class => "span12", :placeholder => "example@neuropump.com;example2@neuropump.com" %>
            </div>
            <div class="span12" style="height: 30px;"></div>

            <div>
              <%= button_tag "Limpar", :class => "btn btn-warning span2 pull-right", :type => "reset" %>
            </div>
            <div>
              <%= submit_tag "Enviar", :class => "btn btn-success span2 offset05 pull-right", :style => "margin-right: 10px;" %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="span3"></div>
</div>